
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      xmlns:http://JAVA.sun.com/xml/ns/javaee"
	      version="3.0">

  <display-name>Servlet 3.0 Web Application</display-name>
  	<welcome-file-list>
		<welcome-file>/login.jsp</welcome-file>
	</welcome-file-list>
		
	<servlet>
		<servlet-name>CrearUsuario</servlet-name>
		<servlet-class>mx.com.sistema.servlets.CrearUsuario</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrearUsuario</servlet-name>
		<url-pattern>/CrearUsuario</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ListarUsuarios</servlet-name>
		<servlet-class>mx.com.sistema.servlets.ListarUsuarios</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>ListarUsuarios</servlet-name>
		<url-pattern>/ListarUsuarios</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>CrearRol</servlet-name>
		<servlet-class>mx.com.sistema.servlets.CrearRol</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>CrearRol</servlet-name>
		<url-pattern>/CrearRol</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ListarRoles</servlet-name>
		<servlet-class>mx.com.sistema.servlets.ListarRoles</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>ListarRoles</servlet-name>
		<url-pattern>/ListarRoles</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>mx.com.sistema.servlets.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Home</servlet-name>
		
		<servlet-class>mx.com.sistema.servlets.Index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
</web-app>
